In [ ]:
import pandas as pd
import statistics as stats

pattern_range = 10
current_index = 0
x_axis = 'TEST_PERIOD_FORMATTED'
y_axis = 'ATT_TP_DL_MV'
file_name = 'amCharts.csv'

data = pd.read_csv(file_name)
df = pd.DataFrame()
df[x_axis] = pd.to_datetime(data[x_axis])
df[y_axis] = data[y_axis]
df = df.dropna().reset_index(drop=True)

df.head()

  TEST_PERIOD_FORMATTED  ATT_TP_DL_MV
0            2019-07-02         38.88
1            2019-07-03         38.61
2            2019-07-04         38.41
3            2019-07-05         36.79
4            2019-07-06         38.89

In [ ]:
df[y_axis].head()

0    38.88
1    38.61
2    38.41
3    36.79
4    38.89
Name: ATT_TP_DL_MV, dtype: float64

Creating the Starting Mean

In [ ]:
current_trend = []

for current_index in range(pattern_range):
  current_trend.append(df[y_axis][current_index])

In [ ]:
len(df[y_axis])

1111

In [ ]:
for current_index in range(len(df[y_axis])):
  datapoint = df[y_axis][current_index]
  old_mean = stats.mean(current_trend)
  strdev = stats.stdev(current_trend, old_mean)

  # check if new datapoint makes new trend
  if datapoint >= strdev * 3 + old_mean:
    current_trend.clear()
    for i in range(pattern_range):
      current_trend.append(df[y_axis][current_index + i])
    print(str(df[x_axis][current_index]))
    current_index += pattern_range

  #print(str(df[x_axis][current_index]) + ": val: " + str(datapoint) + " " + str(old_mean) + " " + str(strdev))

2019-08-20 00:00:00
2019-09-21 00:00:00
2019-10-18 00:00:00
2019-11-18 00:00:00
2020-03-08 00:00:00
2020-05-02 00:00:00
2020-06-14 00:00:00
2020-10-21 00:00:00
2021-09-26 00:00:00
2021-12-24 00:00:00
2022-01-30 00:00:00
2022-05-01 00:00:00

Looping Through Data